*.project
.DS_Store
*.swp
tmp
tmp/*
input
input/*
benchmark
benchmark/*

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

c/build/
c/build/*

gtest-svn/
gtest-svn/*
